<%- include('../partials/header') %>

    <div class="container">
        <header>
            <h1><%= blog.title %></h1>
        </header>
        <div><%= blog.content || "Your story is processing..." %></div>
    </div>
    <% if (user) { %>
        <a class="btn btn-primary">Reply</a>
    <% } %>

<%- include('../partials/footer') %>