<%- include('./partials/header') %>
<div class="jumbotron" id="indexHeader">
<h1><%= title %></h1>
<h5 class="display-4">Send Message</h5>
<br>
<input id="name" class="form-control" placeholder="Name">
<br>
<textarea id="message" class="form-control" placeholder="Message"></textarea>
<br>
<button id="send" class="btn btn-success">Send</button>
</div>
<div id="messages">

</div>
<%- include('./partials/footer') %>

<!--Connect to other site info and pooling it would be a good idea:
-PlantNet Plant Identifier
-Seek by iNaturalist
-Picture Mushroom
method: api -> fetch-->