<%- include('./partials/header') %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>1. Make the below paragraph into a post:</p>
<p>2. Connecting to other site info and pooling it would be a good idea:</p>
<ul>
    <li>PlantNet Plant Identifier</li>
    <li>Seek by iNaturalist</li>
    <li>Picture Mushroom</li>
</ul>
<p>method: api -> fetch</p>
<%- include('./partials/footer') %>

  