<div class="container">
    <%- include('./partials/header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Identify your species</p>   
    <%- include('./partials/footer') %>
  </div>
  