<%- include('./partials/header') %>
<!-- Jumbotron HTML/Bootstrap header -->
<div class="jumbotron" id="indexHeader">
  <h1 class="display-3"><%= title %></h1>
  <p class="lead">All about where to find species and their characteristics</p>
  <p class="lead">Register/Login to contribute your findings</p>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <ul>
        <li>API path (testing): http://localhost:3000/api</li>
        <li>API path: https://speciestracker3.azurewebsites.net/api</li>
      </ul> <br>
      <!-- Add the download link for the CSV file -->
      <a href="#" id="downloadCsvLink" class="btn btn-primary btn-sm">Download CSV</a>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>