<%- include('../partials/header') %>
<h1><%= title %></h1>

<!-- available to req.body object -->
<form method="POST" enctype="multipart/form-data">
  <!-- Input names have to match the name of the fields in the mongo schema object -->
  <div id="dataVisual">
    <div id="imageAndName">
        <fieldset class="form-group">
            <label for="image" class="col-2">Image:</label>
            <input type="file" name="image" id="image" class="form-control" accept=".jpg, .jpeg, .png" required onchange="identifyPlant()">
        </fieldset>
        <div id="nameRow">
        <fieldset class="form-group">
            <label for="name" class="col-2">Name:</label>
            <input name="name" id="name" class="form-control" required/>
        </fieldset>
        <fieldset class="form-group">
            <label for="binomialNomenclature" class="col-2">Scientific Name:</label>
            <input name="binomialNomenclature" id="binomialNomenclature" class="form-control"/>
        </fieldset>
      </div>
        <div id="top4"></div> <!-- list top 3 names, scientific name and percentages -->
    </div>
    <div id="imageVisual">
        <img src="/site_images/noimage.png" alt="No image" id="preview">
    </div>
  </div>
  <fieldset class="form-group">
    <label for="updateDate" class="col-2">Date Identified:</label>
    <input
      name="updateDate"
      id="updateDate"
      required
      class="form-control"
      placeholder="YYYY:MM:DD HH:mm:ss"
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="location" class="col-2">Location:</label>
    <input name="location" id="location" class="form-control" placeholder="Latitude, Longitude (e.g., 45.0000, -45.0000)" required/>
  </fieldset>
  <!-- Display the selected location's coordinates -->
  <div id="coordinates"><span id="help">If unsure of coordinates - enter name of location, then copy map coordinates</span></div>
  <!-- Display the selected location's coordinates using Leaflet -->
  <div id="map" style="height: 300px;"></div>

  <!-- Button needs to be inside <form> element to trigger POST -->
  <button class="offset-3 btn btn-primary">Save</button>
</form>

<script defer>
  async function identifyPlant() {
    // Changes preview image
    const images = image.files;
    const formData = new FormData();
    formData.append('image', images[0]);
    
    try {
      const apiUrl = 'http://localhost:3000/identifyP'; // Your server URL
      const response = await fetch(apiUrl, {
        method: 'POST',
        body: formData
      });

      if (!response.ok) {
        console.error('Error response status:', response.status);
        console.log('Error response text:', await response.text());
        return;
      }

      const data = await response.json();
      console.log('status', response.status);
      console.log('data', data);
      
      // Display top 3 matches
      const top4Div = document.getElementById('top4');
      top4Div.innerHTML = ''; // Clear previous content

      data.top4Matches.forEach((match, index) => {
        const matchDiv = document.createElement('div');
        matchDiv.innerHTML = `<strong>${index + 1}. Name:</strong> ${match.name}; 
                              <strong>Scientific Name:</strong> ${match.scientificName}; 
                              <strong>Percentage:</strong> ${match.score}<br>`;
        top4Div.appendChild(matchDiv);  
      });

      // Set values for initial fields
      var plant = document.getElementById('binomialNomenclature');
      plant.value = data.top4Matches[0].scientificName;
      var commonName = document.getElementById('name');
      commonName.value = data.top4Matches[0].name;

      // Remove parentheses from name and scientific name at the end
      commonName.value = commonName.value.replace(/[()]/g, '').trim();
      //plant.value = plant.value.replace(/[()]/g, '').trim();

    } catch (error) {
      console.error('error', error);
    }
  }
</script>


<%- include('../partials/footer') %>
